<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<header class="header">

    <div class="header-1">

        <a href="#" class="logo"> <i class="fas fa-shopping-basket"></i> Fresh Market </a>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="search..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="#" class="fas fa-heart"> </a>
            <a href="#" class="fas fa-shopping-cart"> </a>
            <div id="login-btn" class="fas fa-user"></div>
        </div>


            
    </div>

    <div class="header-2">

        <nav class = "navbar">

            <a href="#home">home</a>
            <a href="#category">category</a>
            <a href="#product">products</a>
            <a href="#contact">contact</a>

        </nav>

    </div>

 </header>
 
 <nav class = "bottom-navbar">

    <a href="#home" class="fas fa-home"></a>
    <a href="#category" class="fas fa-layer-group"></a>
    <a href="#product" class="fas fa-list"></a>
    <a href="#contact" class="fas fa-phone"></a>

</nav>
