<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>


<header class="header">

    <div class="header-1">

        <a href="#" class="logo"> <i class="fas fa-shopping-basket"></i> Fresh Market </a>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="search..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <nav class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="wishlist" class="fas fa-heart"> </a>
            <a href="cart" class="fas fa-shopping-cart"> </a>
            <a *ngIf="!isLoggedIn"  href="login" class="fas fa-user"></a>
            <a *ngIf="isLoggedIn" (click)="logout()" href="#"> Log out</a>
            
        </nav>


            
    </div>

    <div class="header-2">

        <nav class = "navbar">

            <a href="#">home</a>
            <a href="category">category</a>
            <a href="products">products</a>
            <a href="contact">contact</a>

        </nav>

    </div>

 </header>
 
 