<app-header></app-header>
<section class="product" id="product">

    <h1 class="heading"> our <span>products</span></h1>
    <a *ngIf="isAdmin"   href="create-product" class="btn3">create product</a> 
    <div class="box-container">
        
        
         <div *ngFor="let product of products" class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
            </div>
            
            
            <img [src]="product.photo" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>

            <div class="price">
                <span> {{product.price}}$</span>
            </div>

            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000">
                <span>/kg</span>
            </div>

            <a href="#" class="btn">add to cart</a>
            <a *ngIf="isAdmin" (click)="prepareUpdate(product.name)" class="btn1">update</a>
            <a *ngIf="isAdmin" (click)="deleteProduct(product)" class="btn2">delete</a>

            
        </div>
     </div>
</section>


