<app-header></app-header>
<section class="category" id="category">

    <h1 class="heading">shop by <span>category</span></h1>
    <a  *ngIf="isAdmin" href="create-category" class="btn3">create category</a> 
    
    <div class="box-container">
        <div *ngFor="let category of categories" class="box">
          <h3>{{ category.name }}</h3>
          <img [src]="category.photo" alt="{{ category.name }}">
          <a (click)="categoryName(category.name)" class="btn">Shop Now</a>
          <a  *ngIf="isAdmin" class="btn1" (click)="prepareUpdate(category.name)">Update</a>
          <a  *ngIf="isAdmin" class="btn2" (click)="deleteCategory(category.name)">Delete</a>
        </div>
      </div>

</section>

