<div class="login-form-container">

    <a href= "#" id="close-login-btn" class="fas fa-times"></a>

    <form  [formGroup]="loginForm" action="">

        <h3>sign in</h3>

    <span>username</span>
    <input formControlName="username" matInput type="text" class="box" placeholder="enter your email">

    <span>password</span>
    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" class="box" placeholder="enter your password">

        <button  class="btn" (click)="loginWithEmailAndPassword()">Sing In</button>
       
        <p>forger password ?<a href="#">click here</a> </p> 
        <p>don't have an account ?<a href="register" id="no-account-btn">create one</a></p>

    </form>
</div>