<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<header class="header">

<app-header></app-header>

<section class="home" id="home">

    <div class="image">
        <img src="../../assets/home.jpg" alt="">
    </div>

    <div class="content">
        
        <h2>Welcome to </h2>
        <h2><span>Fresh Market</span> </h2>
        <p> <i>Your one-stop online grocery store, where convenience and quality come together to make your shopping experience a breeze. With Fresh Market, you can transform your weekly grocery shopping from a time-consuming chore into a hassle-free, enjoyable activity. </i></p>
    </div>

</section>
