<div class="register-form-container">

    <a href="login" id="close-register-btn" class="fas fa-times"></a>

    <form [formGroup]="registerForm" action=""  >
        <h3>register now</h3>
        <input formControlName="username" matInput type="text" class="box" placeholder="enter your email">
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" class="box" placeholder="enter your password">
        <input formControlName="confirmPassword" matInput [type]="hide ? 'password' : 'text'" class="box" placeholder="confirm your password">
        <button class="btn" (click)="registerWithEmailAndPassword()" >Register</button>
    </form>


</div>